<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    <link rel="stylesheet" href="/styles/aboutMe.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <header>
        <div class="logo"><img class="logoimg" src="images/logo.png" alt="logo here"></div>
        <div class="navContent">
            <button><a class="btn" href="/">READ</a></button>
            <button><a class="btn" href="/create">CREATE</a></button>
            <button><a class="btn" href="/about">ABOUT</a></button>

        </div>
    </header>
