<%- include("partials/header.ejs") %>
<div class="first">
    <div class="mainphoto"><img src="/images/profile.jpg" title="Handsome xu ne?&#128563;" alt="my photo"></div>
    <div class="rectangle content">
         <h1>Hi there, I'm <span class="name">Hridayadev,</span></h1>
         <p> A CSIT undergraduate at Mechi Multiple Campus hailing from Mechinagar. I have a passion for creating websites and delving into the realm of coding. Alongside, I am deeply interested in UI/UX design and find joy in experimenting with photos and videos.</p>
    </div>
</div>

<%- include("partials/footer.ejs") %>
