 <%- include("partials/header.ejs") %>
<div class="main">
    <div class="contentContainer">
        <form action="/create" method="post" name="postContent" class="content">
            <h1>Enter details to create a post:</h1>
            <div class="aurthor">Author:<input type="text" name="postAuthor" placeholder="Please enter your name" required ></div>
            <div class="heading"> Title : <input type="text" name="postHeading" placeholder="Please enter title of your blog" required ></div>
            <div class="mainContent">Main Content: <br> <textarea name="postContent" id="" required rows="20" cols="100" placeholder="Please enter your main content of your blog in a formate :) "></textarea></div>
            <div class="submit"><input type="submit" value="Create"></div>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>
